<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--- Definir Authentication -->
    <authentication mode="Forms">
      <forms name=".VENTASYS" loginUrl="Login_Usuario.aspx" defaultUrl="PanelInicio.aspx" protection="All" timeout="20" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false">
        <credentials passwordFormat="SHA1"/>
      </forms>
    </authentication>
  </system.web>
</configuration>